* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --dark-primary: #333333;
  --dark-secondary: #999999;
  --light-primary: white;
  --accent: #f60;
  --light-cecondary: #e2e2e2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: var(--light-cecondary);
}

body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

:is(input, textarea) {
  border: 1px solid var(--dark-primary);
  border-radius: 4px;
  min-height: 32px;
  line-height: 24px;
  padding: 3px 4px;
  font-family: inherit;
  width: 100%;
}

:is(label, .tag) {
  font-weight: bold;
}

label {
  font-size: 14px;
}

[type="radio"] + label {
  font-size: 10px;
  text-transform: uppercase;
}

:checked + label {
  color: var(--accent);
}

.tag {
  font-size: 10px;
  color: var(--accent);
  border: 1px solid var(--accent);
  display: inline-block;
  border-radius: 2px;
  padding: 2px 3px;
  text-transform: uppercase;
}

button {
  color: var(--light-primary);
  border: none;
  font-family: inherit;
  cursor: pointer;
}

button.primary {
  background-color: var(--accent);
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 8px;
}

button.secondary {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  background-color: none;
  color: var(--dark-primary);
  border-radius: 8px;
}

button.icon-btn {
  color: var(--dark-primary);
  background-color: none;
  padding: 2px;
}

svg.finished {
  background-color: var(--light-cecondary);
  fill: var(--accent);
  border: 1px solid var(--light-cecondary);
}

.todo-item {
  display: grid;
  grid-template-areas:
    "tags actions"
    "content content"
    "button button";
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--light-primary);
  padding: 16px;
  row-gap: 16px;
  border-radius: 8px;
}

.completed {
  opacity: 0.5;
}

:is(.todo-item h2, p):not(.tag) {
  text-decoration: line-through;
}

#edit-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* @scope (.todo-item) {
  .tags {
    grid-area: tags;
  }

  .actions {
    grid-area: actions;
  }

  .content {
    grid-area: content;
  }

  :scope > button {
    grid-area: button;
    justify-self: start;
  }
} */

.tags {
  grid-area: tags;
}

.actions {
  grid-area: actions;
  justify-self: end;
}

.content {
  grid-area: content;
}

button.primary {
  grid-area: button;
  justify-self: start;
}

.form-actions {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.categories {
  display: flex;
  gap: 20px;
}

/* .icon {
  fill: var(--dark-primary);
} */

/*ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
} */
